*, ::after, ::before {
    box-sizing: border-box;
}
body { 
    margin-top: 5rem;
}
.container { 

    margin-right: 10%;
    margin-left: 10%;
    width: 90%;

}

.error { 
  color:  red;
  font-family: monospace;
}

div.header { 
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: vh;
  background-color: #fff;
  border-bottom: #0d6efd solid .05rem; 
  box-shadow: 0px 10px 5px lightblue;

}


div.header div { 
 
}

div.auth  {  
  display: flex ;
  align-items: center;
   margin-right: 1rem;


}

  .link {
    width: 4vw;
  text-decoration: none;
  color:  whitesmoke;
  background-color: #0d6efd;
  padding: .5rem .5rem;
  border-radius: 1rem;
  text-align: center;
  margin-right: .5rem;

  
 }




  .link:hover {
  background-color: #cddcf3;
  color: #0d6efd;
  border: #0d6efd solid .1rem;
 }

 .login-link { 
    width: 4vw;
  text-align: center;
  text-decoration: none;
  color:  #0d6efd;
  background-color: whitesmoke;
  padding: .5rem .5rem;
  border-radius: 1rem;
  border: #0d6efd solid .1rem;

 }

 .login-link:hover { 
  background-color: #0d6efd;
  border: #ffffff solid .1rem;
  color: whitesmoke;
 }

 

 



div.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  li.nav-l {
 
  }
  
  li.nav-l a {
    display: block;
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 
    background-color: #fff;
    color: #0d6efd;

  }
  
  li.nav-l a:hover {
    background-color: #d3d3d3;
  }

  .active {
    color: #fff !important;
    background-color: #3f8cff !important;

}



span.flash { 
  position: fixed;
  top: 5rem;
  right: 1rem;
  font-size: x-large;


  background-color: #0d6efd;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;

}